<h1>Matchup#index</h1>
<p>Find me in app/views/matchup/index.html.erb</p>
<table>
    <tr><td>Access Token</td><td><%= @access_token %> </td></tr>
    <tr><td>User Id</td><td><%= @user_id %></td></tr>
    <tr><td>League Id</td><td><%= @league_id %></td></tr>
  <p> <%= @players[:body] %></p>
</table>